[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
xlrd = "*"
numpy = "*"
beautifulsoup4 = "*"
requests = "*"
lxml = "*"
seaborn = "*"
geopandas = "*"
mapclassify = "*"
sklearn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
